<div class="overflow-hidden pb-5">
    <form>
        <div class="row p-3">
            <div class="col-md-12">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center"><img class="rounded-circle mt-5" (click)="uploadProfile.click()" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru.com.my</span><span> </span></div>
                    <input type="file" hidden #uploadProfile>
                </div>
            </div>
            <div class="col-md-6 mt-2 mb-2">
                <label for="">First Name *</label>
                <input type="text" class="form-control" name="first_name" />
            </div>
            <div class="col-md-6 mt-2 mb-2">
                <label for="">Last Name *</label>
                <input type="text" class="form-control" name="first_name" />
            </div>
            <div class="col-md-6 mt-2 mb-2">
                <label for="">Mobile *</label>
                <input type="text" class="form-control" name="first_name" />
            </div>
            <div class="col-md-6 mt-2 mb-2">
                <label for="">Email *</label>
                <input type="text" class="form-control" name="first_name" />
            </div>
            <div class="col-md-6 mt-2 mb-2">
                <button mat-button mat-raised-button color="primary" type="button">Update</button>

            </div>
        </div>
    </form>
</div>