<div class="row" style="padding-bottom: 80px;">
  <div class="col-lg-3 mb-3 mt-3 col-sm-12">
    <mat-card class="p-3">
      <h1>Instructions</h1>
      <ol class="instruction" style="padding: 15px">
        <li>
          <span style="color: #fb6340">
            <i class="bi bi-circle-fill" aria-hidden="true"></i>
          </span>&nbsp; : Closings
        </li>
        <li>
          <span style="color:rgb(30, 144, 255)">
            <i class="bi bi-circle-fill" aria-hidden="true"></i>
          </span>&nbsp; : Appraisal
        </li>
        <li>
          <span style="color: #11faa4">
            <i class="bi bi-circle-fill" aria-hidden="true"></i>
          </span>&nbsp; : Budget Verification
        </li>
        <li>
          <span style="color: rgb(191, 66, 245)">
            <i class="bi bi-circle-fill" aria-hidden="true"></i>
          </span>&nbsp; : Draws
        </li>
        <li>
          <span style="color: #C70039">
            <i class="bi bi-circle-fill" aria-hidden="true"></i>
          </span>&nbsp; : Inspection
        </li>
      </ol>
    </mat-card>
  </div>

  <div class="col-lg-9 mb-3 mt-3 col-sm-12">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected" (selectedChange)="openDialog(detailsModal)"></mat-calendar>
    </mat-card>
  </div>

 

  <ng-template #detailsModal>
    <h2 mat-dialog-title class="border-bottom">Events on {{getDate(selected)}}</h2>
    <mat-nav-list>
      <a href="https://keep.google.com/" mat-list-item>
        <span matListItemTitle>Google Keep</span>
        <span matLine>Add to a note</span>
      </a>
    
      <a href="https://docs.google.com/" mat-list-item>
        <span matListItemTitle>Google Docs</span>
        <span matLine>Embed in a document</span>
      </a>
    
      <a href="https://plus.google.com/" mat-list-item>
        <span matListItemTitle>Google Plus</span>
        <span matLine>Share with your friends</span>
      </a>
    
      <a href="https://hangouts.google.com/" mat-list-item>
        <span matListItemTitle>Google Hangouts</span>
        <span matLine>Show to your coworkers</span>
      </a>
    </mat-nav-list>
    <!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->
  </ng-template>
</div>