<div class="row">
    <div class="col-lg-12">
      <div class="scroll-container" style="max-height: calc(100vh - 350px); overflow-y: auto;">
        <table class="table1" width="100%">
          <thead style="position: sticky;top: 0;background-color: #213E7A;color: azure;z-index: 1;">
            <tr>
              <!-- <th></th> -->
              <th>
                <h6 class="mb-0 text-white">Actions</h6>
              </th>
              <th >
                <h6 sortData="loan_terms.internal_status"  class="mb-0 text-white">
                  Status</h6>
              </th>
              <th>
                <h6 sortData="date_added"  class="mb-0 text-white">Date</h6>
              </th>
              <th>
                <h6 sortData="vendor_type"  class="mb-0 text-white">White Label</h6>
              </th>
              <th>
                <h6 sortData="application.borrower_info.borrower_first_name" 
                  class="mb-0 text-white">Name</h6>
              </th>
              <th>
                <h6 sortData="application.property_details.property_full_address" 
                  class="mb-0 text-white">Property Address</h6>
              </th>
              <th>
                <h6 sortData="application.business_entity.business_entity_name" 
                  class="mb-0 text-white">Entity Name</h6>
              </th>
              <th>
                <h6 sortData="loan_type"  class="mb-0 text-white">Loan Program</h6>
              </th>
              <th>
                <h6 sortData="loan_program"  class="mb-0 text-white">Loan Type</h6>
              </th>
              <!-- <th>
                <h6 sortData="application.loan_terms.desired_total_amount" 
                  class="mb-0 text-white">Desired Loan Amount</h6>
              </th>
              <th>
                <h6 sortData="application.loan_terms.desired_closing_date" 
                  class="mb-0 text-white">Desired Closing Date</h6>
              </th> -->
              <th>
                <h6 sortData="loan_terms.loan_info.initial_funding_amount" 
                  class="mb-0 text-white"> Initial Funding (in $)</h6>
              </th>
              <th>
                <h6 sortData="loan_terms.loan_info.repair_budget" 
                  class="mb-0 text-white"> Repair Budget </h6>
              </th>
              <th>
                <h6 sortData="loan_terms.loan_info.total_loan_amount" 
                  class="mb-0 text-white">Total Loan Amount</h6>
              </th>
              <th >
                <h6 sortData="loan_terms.loan_info.final_closing_date" 
                  class="mb-0 text-white">Actual Closing Date</h6>
              </th>

              <th >
                <h6 sortData="appraisal.as_completed_value"  class="mb-0 text-white">
                  ARV</h6>
              </th>
              <th >
                <h6 sortData="application.admin_info.loan_officer" 
                  class="mb-0 text-white">Loan Officer</h6>
              </th>
              <th>
                <h6 sortData="loan_terms.loan_info.net_origination_fee" 
                  class="mb-0 text-white"> Total Origination </h6>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                <button class="btn btn-sm btn-outline-primary">+</button>
                <button class="btn btn-sm btn-outline-secondary">👁</button>
                <button class="btn btn-sm btn-outline-danger">🗑</button>
              </td>
              <td>
                <button class="btn btn-sm btn-primary">Paid Off</button>
              </td>
              <td>06/25/2024<br>11:28 PM</td>
              <td>Legacy Preferred Lending, LLC</td>
              <td>Richard</td>
              <td>Lin</td>
              <td>7219 Dahlia St, Houston, Texas, 77012</td>
              <td>LINCO MANAGEMENT</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>