// new design css jasmin
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Outfit:wght@500;700&display=swap');

.main-wraper {
  font-family: 'Outfit', sans-serif;
}

.table1{ 
  border-collapse: separate;
  border-spacing: 0px 5px;
  width: 100%;
}

.table1 tbody tr{
  text-align: left;
  max-height: 300px;
  width: fit-content;
  background-color: white;
  border-radius: 10px 0 0 10px ;
}
.table1 thead tr {
  text-align: left;
}
.table1 thead tr th{
  padding:9px;
  min-width: 300px;
  font-weight: 600;
  text-transform: uppercase;

  h6{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.table1 thead tr th:first-child{
  //text-align: center;
  min-width:5px !important; 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.table1 thead tr th:last-child{
  min-width: 90px !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.table1 tbody tr:hover{
  background-color: #dddddd;
  transition: 0.7s;
}
.table1 tbody tr td{
  padding: 10px;
  cursor: pointer;
  font-size:  13px;
  line-height: 1.5;
  max-width: fit-content;
  color: #32325d;
  font-weight: 600;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.table1 tbody tr td:first-child{
  min-width:5px !important;
  border-left: 1px solid #e2e2e2;
  border-radius:  5px 0 0 5px;
}
.table1 thead tr th:nth-child(2){
  min-width: fit-content !important;
}
.table1 tbody tr td:nth-child(2){
  min-width: fit-content !important;
}
.table1 thead tr th:nth-child(3){
  min-width: fit-content !important
}
.table1 tbody tr td:nth-child(3){
  min-width: fit-content !important;
}

.table1 tbody tr td:nth-child(14){
  min-width: fit-content !important;
}
.table1 tbody tr td:last-child{
  border-top-right-radius:  5px;
  border-bottom-right-radius: 5px;
 }
.nodataimg img {
  width: 250px;
  margin: 3rem auto 0;
  display: block;
}

.type-filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .badge-nav {
    font-size: 14px;
    padding: 8px 20px;
    font-weight: 500;
  }
}

.blink-bg {
  animation: blinkingBackground 4s infinite;
}

.blink-bg-red{
  animation: blinkingRed 4s infinite;
}

.blink-bg-yellow{
  animation: blinkingYellow 4s infinite;
}

@keyframes blinkingYellow{
  0% {
    background-color: #e9e572ee;
    color: white !important;
  }

  25% {
    background-color: white;
  }

  50% {
    background-color: #e9e572ee;
    color: white !important;
  }

  75% {
    background-color: white;
  }

  100% {
    background-color: #e9e572ee;
    color: white !important;
  }
}

@keyframes blinkingRed {
  0% {
    background-color: #f73535b0;
    color: white !important;
  }

  25% {
    background-color: white;
  }

  50% {
    background-color: #f73535b0;
    color: white !important;
  }

  75% {
    background-color: white;
  }

  100% {
    background-color: #f73535b0;
    color: white !important;
  }
}

@keyframes blinkingBackground {
  0% {
    background-color: #2dce89;
    color: white !important;
  }

  25% {
    background-color: white;
  }

  50% {
    background-color: #2dce89;
    color: white !important;
  }

  75% {
    background-color: white;
  }

  100% {
    background-color: #2dce89;
    color: white !important;
  }
}


.badges-beta {
  background-color: red;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 50%;
  margin-left: 6px;
  position: absolute;
  right: -15px;
  top: -3px;
}

.counter {
  background-color: red;
  height: auto;
  width: 25px !important;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  padding: 2.25px;
  font-weight: 500;
  display: block;
  margin-left: 18px;
}

.counter-empty {
  background-color: transparent;
  height: auto;
  width: 25px !important;
  color: transparent;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  padding: 2.25px;
  font-weight: 500;
  display: block;
  margin-left: 18px;
}

.data-card {
  border-radius: .5em;
  text-decoration: none;
  background: #f6f9fc;
  padding: 1em;
  transition: transform .45s ease, background .45s ease;
}

.data-card h3 {
  color: #2E3C40;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: .5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #213E7A;
  transition: color .45s ease, border .45s ease;
}

.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: .6em;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin: 0 0 .777777778em;
  transition: color .45s ease;
}