<div class="mt-2">
  <div class="pt-3 pb-2 row x">
    <div class="pb-2 col-xl-4 col-md-4">
      <div class="mb-0 card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col d-flex align-items-center justify-content-between">
              <h5 class="mb-0 card-title text-uppercase text-muted">
                Total Events
              </h5>
              <span class="mb-0 h2 font-weight-bold"> {{total_events}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-2 col-xl-4 col-md-4">
      <div class="mb-0 card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class="col d-flex align-items-center justify-content-between">
              <h5 class="mb-0 card-title text-uppercase text-muted">
                Property Maintenance Request
              </h5>
              <span class="mb-0 h2 font-weight-bold"> {{total_property_maintenance}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="pb-2 col-xl-4 col-md-4">
      <div class="mb-0 card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col d-flex align-items-center justify-content-between">
              <h5 class="mb-0 card-title text-uppercase text-muted">
                Property Contractor Request
              </h5>
              <span class="mb-0 h2 font-weight-bold"> {{total_property_contractor}} </span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="pb-2 col-xl-4 col-md-4">
      <div class="mb-0 card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col d-flex align-items-center justify-content-between">
              <h5 class="mb-0 card-title text-uppercase text-muted">
                Third Party Request
              </h5>
              <span class="mb-0 h2 font-weight-bold"> {{total_thirdParty}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-2 col-xl-4 col-md-4">
      <div class="mb-0 card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col d-flex align-items-center justify-content-between">
              <h5 class="mb-0 card-title text-uppercase text-muted">
                Budget Verification
              </h5>
              <span class="mb-0 h2 font-weight-bold"> {{total_budget_verification}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-2 col-xl-4 col-md-4">
      <div class="mb-0 card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col d-flex align-items-center justify-content-between">
              <h5 class="mb-0 card-title text-uppercase text-muted">
                Draws
              </h5>
              <span class="mb-0 h2 font-weight-bold"> {{total_draw}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-2 col-xl-4 col-md-4">
      <div class="mb-0 card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col d-flex align-items-center justify-content-between">
              <h5 class="mb-0 card-title text-uppercase text-muted">
                Inspection
              </h5>
              <span class="mb-0 h2 font-weight-bold"> {{total_inspection}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-0 card">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <h1>Instructions</h1>
          <ol class="instruction" style="padding: 15px">
            <li>
              <span class="maintenance">
                <i class="fa fa-circle" aria-hidden="true"></i>
              </span>: Maintenance Request
            </li>
            <!-- <li>
              <span class="contractor">
                <i class="fa fa-circle" aria-hidden="true"></i>
              </span>: Contractor Request
            </li> -->
            <li>
              <span class="third-party">
                <i class="fa fa-circle" aria-hidden="true"></i>
              </span>: Third Party Request
            </li>
            <li>
              <span class="budget-verfication">
                <i class="fa fa-circle" aria-hidden="true"></i>
              </span>: Budget Verification
            </li>
            <li>
              <span class="draws">
                <i class="fa fa-circle" aria-hidden="true"></i>
              </span>: Draws
            </li>
            <li>
              <span class="inspection">
                <i class="fa fa-circle" aria-hidden="true"></i>
              </span>: Inspection
            </li>
            <li>
              Click on Previous/Next to switch between months.
            </li>
            <li>
              Click on Today if you want to go on the current month.
            </li>
          </ol>
        </div>
        <div class="col-md-9 col-sm-12">
          <div class="mb-3 row">
            <div class="text-center col-lg-4 text-lg-left align-self-center">
              <div class="btn-group">
                <div class="btn btn-primary btn-sm" (click)="setView(CalendarView.Month)"
                  [class.active]="view === CalendarView.Month">
                  Month
                </div>
                <!-- <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                  [class.active]="view === CalendarView.Week">
                  Week
                </div> -->
                <div class="btn btn-primary btn-sm" (click)="setView(CalendarView.Day)"
                  [class.active]="view === CalendarView.Day">
                  Day
                </div>
                <div class="btn btn-success btn-sm" mwlCalendarToday [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">
                  Today
                </div>
              </div>
            </div>
            <!-- <div class="text-center col-lg-3 text-lg-left align-self-center">

            </div> -->
            <div class="text-center col-lg-4 align-self-center">
              <h2 class="mb-0">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
            </div>
            <div class="text-center col-lg-4 text-lg-right align-self-center">

              <div class="btn btn-primary btn-sm" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Previous
              </div>
              <div class="btn btn-default btn-sm" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Next
              </div>
            </div>
          </div>
          <div class="calendar-container">
            <div [ngSwitch]="view">
              <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" [cellTemplate]="customCellTemplate" [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)">
              </mwl-calendar-month-view>
              <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" [weekStartsOn]="weekStartsOn" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-week-view>
              <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-day-view>
            </div>
          </div>

          <ng-template #customCellTemplate let-day="day">
            <div class="cal-cell-top">
              <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale
                }}</span>
            </div>
            <div *ngIf="day.events" class="px-2 py-1">
              <p [ngStyle]="{'background-color': event?.color.primary, 'display': x > 2 ? 'none' : 'block'}"
                *ngFor="let event of day.events; let x = index" class="mb-08"
                (click)="handleEvent('Clicked', day.events[x])" [ngbTooltip]="list">
                <ng-template #list>
                  <div class="d-flex flex-column text-left">
                    <span *ngIf="event?.property_address" class="font-weight-700 fs20-mb-15">
                      {{event.property_address || "N/A"}}
                    </span>
                    <span *ngIf="event?.project_address" class="font-weight-700 fs20-mb-15">
                      {{event.project_address || "N/A"}}
                    </span>
                    <span *ngIf="event?.application?.property_details?.property_full_address"
                      class="font-weight-700 fs20-mb-15">
                      {{event?.application?.property_details?.property_full_address || "N/A"}}
                    </span>
                    <span *ngIf="event?.loan_number" class="mb-1 ">
                      Loan Number:
                      <span class="font-weight-700">{{(event?.loan_number)}}</span></span>
                    <span *ngIf="event?.budget_verification?.info?.contact_name" class="mb-1 ">
                      Contact Name:
                      <span class="font-weight-700">{{(event?.budget_verification?.info?.contact_name)}}</span></span>
                    <span *ngIf="event?.budget_verification?.info?.order_date" class="mb-1 ">
                      Order Date:
                      <span class="font-weight-700">{{(event?.budget_verification?.info?.order_date |
                        date)}}</span></span>
                    <span *ngIf="event?.budget_verification?.info?.due_date" class="mb-1 ">
                      Due Date:
                      <span class="font-weight-700">{{(event?.budget_verification?.info?.due_date |
                        date)}}</span></span>
                    <span *ngIf="event?.budget_verification?.info?.vendor_id" class="mb-1 ">
                      Assigned To:
                      <span
                        class="font-weight-700">{{getVendorName(event?.budget_verification?.info?.vendor_id)}}</span></span>
                    <span *ngIf="event?.budget_verification?.info?.vendor_id" class="mb-1 "> Status:
                      <span class="font-weight-700">{{event?.budget_verification?.info?.status}}</span>
                    </span>
                    <span class="mb-1" *ngIf="event?.draw?.inspection?.inspection_date ">
                      Inspection Date:
                      <span class="font-weight-700">{{(event?.draw?.inspection?.inspection_date ?
                        getDate(event?.draw?.inspection?.inspection_date) : 'N/A')}}</span>
                    </span>
                    <span class="mb-1" *ngIf="event?.draw?.inspection?.inspection_time">
                      Inspection Time:
                      <span class="font-weight-700">{{(event?.draw?.inspection?.inspection_time || 'N/A')}}</span>
                    </span>
                    <span class="mb-1" *ngIf="event?.draw?.inspection?.approved_date">
                      Funding Date:
                      <span class="font-weight-700">{{(event?.draw?.approved_date ?
                        getDate(event?.draw?.approved_date) : 'N/A')}}</span>
                    </span>
                    <span class="mb-1" *ngIf="event?.draw?.inspection?.status">
                      Inspection Status:
                      <span class="font-weight-700">{{(event?.draw?.inspection?.status || 'N/A')}}</span>
                    </span>
                    <span *ngIf="event?.date_of_request || event?.requested_date" class="mb-1 ">
                      Date Of Request:
                      <span class="font-weight-700">{{(event.date_of_request | date) ||
                        (event.requested_date | date)}}</span>
                    </span>
                    <span *ngIf="event?.repair_schedule" class="mb-1">
                      Repair schedule :
                      <span class=" font-weight-700">
                        {{getDateRepairSchedule(event.repair_schedule.date,
                        event.repair_schedule.start_time)}}</span>
                    </span>
                    <span class="mb-1" *ngIf="event?.type !== 'Inspection'">
                      Assigned To:
                      <span class="font-weight-700">{{event?.repair_schedule?.assigned_to?.name || "N/A"}}</span>
                    </span>
                    <span *ngIf="event?.rent_status" class="mb-1 ">
                      Rent Status:
                      <span class="font-weight-700">{{event.rent_status}}</span>
                    </span>
                    <span *ngIf="event?.request_category" class="mb-1">
                      Request Category:
                      <span class="font-weight-700">{{event.request_category}}</span>
                    </span>
                    <span *ngIf="event?.request_category_option" class="mb-1 ">
                      Request Category Option:
                      <span class="font-weight-700"
                        *ngFor="let option of event.request_category_option; let i=index">{{option.name}}{{i
                        < event.request_category_option.length - 1 ? "," : "" }} </span>
                      </span>
                      <span class="mb-1" *ngIf="event?.status ">
                        Status:
                        <span class="font-weight-700"
                          [ngClass]="event?.status==='Pending'? 'text-pending' : 'text-confirm'">{{event?.status}}</span>
                      </span>
                      <span class="mb-1" *ngIf="event?.inspections?.inspector_name">
                        Inspector Name:
                        <span class="font-weight-700">{{event?.inspections?.inspector_name || "N/A"}}</span>
                      </span>
                      <span class="mb-1" *ngIf="event?.inspections?.inspection_start_time">
                        Inspection Time:
                        <span class="font-weight-700">{{getInspectionTime(event?.inspections?.inspection_start_time)}} -
                          {{getInspectionTime(event.inspections?.inspection_end_time)}}</span>
                      </span>
                  </div>
                </ng-template>
                <span class="small text-ellipsis d-block"
                  [ngStyle]="{'color' : event?.color.text_color}">{{event?.property_address ||
                  event.project_address || event?.application?.property_details?.property_full_address}}</span>
              </p>
            </div>
            <div class="px-2 pb-2">
              <span *ngIf="day.events.length > 3"><a (click)="dayClicked($event.day)">+{{day.events.length
                  - 3}} more</a></span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #openViewModal let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="p-0 modal-body">
      <div class="mb-0 border-0 shadow card bg-secondary">
        <div class="card-body px-lg-4 py-lg-4" style="position: relative;">
          <a (click)="d('Cross click')" class="m-0 btn btn-sm btn-warning btn-round btn-icon" href="javascript:void(0)"
            style="position: absolute;
                          right: 10px;
                          top: 10px;
                          border-radius: 50%;">
            <span class=" btn-inner--text"> <i class="fas fa-times"></i> </span>
          </a>
          <div class="my-3 text-center text-danger">
            <i class="fas fa-exclamation-circle fa-4x"></i>
          </div>
          <h2 class="mb-3 text-center text-dark">View {{viewDate | date:'mediumDate'}} Inspections
          </h2>
          <div class="text-center">
            <button (click)="c('submit')" type="button" class="btn btn-default">Overview</button>
            <button (click)="openDayView()" type="button" class="btn btn-primary">Day View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #previewDetails let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="p-0 modal-body">
      <div class=" row">
        <div class=" col">
          <div class="mb-0 shadow card" style=" background: #eee !important;">
            <div class="pb-4 bg-transparent border-0 card-header"
              style="border-bottom: 0!important; position: relative;">
              <div class=" row">
                <div class=" col-12">
                  <h2 class="mb-3 text-left text-dark">Events on {{viewDate | date:'mediumDate'}}
                  </h2>
                  <a (click)="d('Cross click')" class="m-0 btn btn-sm btn-danger btn-round btn-icon"
                    href="javascript:void(0)" style="position: absolute;
                          right: 16px;
                          top: 0px;
                          border-radius: 50%;">
                    <span class=" btn-inner--text"> <i class="fas fa-times"></i> </span>
                  </a>
                  <div style="height: 500px; overflow-y: auto;">
                    <div style="background: #fff;" class="mb-2 card"
                      *ngFor="let item of selectedDateRecords | filter: query; let i = index;">
                      <div class="card-body py-3"
                        style="background: #fff; border-radius: calc( 0.375rem - 1px ) !important;">
                        <div class="row align-items-center">
                          <div class="col-12">
                            <div class="d-flex">
                              <h3 class="mb-1 mr-2" style="width: 80%; padding-right: 65px;">
                                {{item.tenant_name || item.customer_name ||
                                item.application.property_details.property_full_address || "N/A"}}
                              </h3>
                              <div *ngIf="item.type === 'Maintenance Request'" style="white-space: break-spaces;"
                                class="d-flex">
                                <span class="badge badge-pill badge-lg badge-info"
                                  style="background-color: rgb(250, 246, 27);color: #000;height: 28px;">Maintenance
                                  Request</span>
                                <span class="px-2"><button class="btn btn-sm btn-primary view-button"
                                    (click)="navigateButton(item)"><span class="view-span">View</span></button></span>
                              </div>
                              <div *ngIf="item.type === 'Contractor Request'" style="white-space: break-spaces;"
                                class="d-flex">
                                <span class="badge badge-pill badge-lg badge-info text-white"
                                  style="background-color: #2dce89;height: 28px;">Contractor Request</span>
                                <span class="px-2"><button class="btn btn-sm btn-primary view-button"
                                    (click)="navigateButton(item)"><span class="view-span">View</span></button></span>
                              </div>
                              <div *ngIf="item.type === 'Third Party Request'" style="white-space: break-spaces;"
                                class="d-flex">
                                <span class="badge badge-pill badge-lg badge-info text-white"
                                  style="background-color: rgb(27, 112, 250);height: 28px;">Third Party Request</span>
                                <span class="px-2"><button class="btn btn-sm btn-primary view-button"
                                    (click)="navigateButton(item)"><span class="view-span">View</span></button></span>
                              </div>
                              <div *ngIf="item.type === 'Budget Verification'" style="white-space: break-spaces;"
                                class="d-flex">
                                <span class="badge badge-pill badge-lg badge-info text-white"
                                  style="background-color: #fb6340;height: 28px;">Budget Verification</span>
                                <span class="px-2"><button class="btn btn-sm btn-primary view-button"
                                    (click)="navigateButton(item)"><span class="view-span">View</span></button></span>
                              </div>
                              <div *ngIf="item.type === 'Draws'" style="white-space: break-spaces;" class="d-flex">
                                <span class="badge badge-pill badge-lg badge-info text-white"
                                  style="background-color: rgb(191, 66, 245);height: 28px;">Draws</span>
                                <span class="px-2"><button class="btn btn-sm btn-primary view-button"
                                    (click)="navigateButton(item, 'draws')"><span
                                      class="view-span">View</span></button></span>
                              </div>
                              <div *ngIf="item.type === 'Inspection'" style="white-space: break-spaces;" class="d-flex">
                                <span class="badge badge-pill badge-lg badge-info text-white"
                                  style="background-color: #C70039;height: 28px;">Inspection</span>
                                <span class="px-2"><button class="btn btn-sm btn-primary view-button"
                                    (click)="navigateButton(item, 'inspection')"><span
                                      class="view-span">View</span></button></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div *ngIf="item?.type =='Maintenance Request'">
                              <h5 class="mb-1">Date Of Request: <span class="preview-text">
                                  {{item?.date_of_request || 'N/A' | date}}</span>
                              </h5>
                              <h5 class="mb-1 text-red">Assigned To: <span class="text-red">
                                  {{ item?.repair_schedule?.assigned_to?.name || 'N/A' }}
                                </span>
                              </h5>
                              <h5 class="mb-1">Property Address: <span class="preview-text">
                                  {{item?.property_address || 'N/A'}}</span> </h5>
                              <h5 class="mb-1">Zip Code : <span class="preview-text">
                                  {{item?.zip_code|| 'N/A'}}</span> </h5>
                              <h5 class="mb-1">Assigned By: <span class="preview-text">{{item?.authorized_by ||
                                  'N/A'}}</span>
                              </h5>
                              <h5 class="mb-1"> Comments: <span class="preview-text">
                                  {{item?.comment || 'N/A'}}</span></h5>
                              <h5 class="mb-1"> Date Added: <span class="preview-text">{{(item?.date_added | date)
                                  || 'N/A' }}</span></h5>
                              <h5 class="mb-1"> Date Completed: <span class="preview-text">{{(item?.date_completed |
                                  date) ||
                                  'N/A' }}</span></h5>
                              <h5 class="mb-1">Date Of Review: <span class="preview-text">
                                  {{(item?.date_of_review | date) || 'N/A' }}</span>
                              </h5>
                              <h5 class="mb-1">Date Updated: <span class="preview-text">
                                  {{(item?.date_updated | date) || 'N/A' }}</span>
                              </h5>
                              <h5 class="mb-1">Description: <span class="preview-text">
                                  {{item?.description || 'N/A'}}</span> </h5>
                              <h5 class="mb-1">Email : <span class="preview-text">
                                  {{item?.email || 'N/A'}}</span> </h5>

                              <h5 class="mb-1">Phone: <span class="preview-text">
                                  {{item?.phone || 'N/A'}}</span> </h5>
                              <h5 class="mb-1">Rent Status: <span class="preview-text">
                                  {{item?.rent_status || 'N/A'}}</span> </h5>
                              <h5 class="mb-1">Request Category: <span class="preview-text">
                                  {{item?.request_category || 'N/A'}}</span> </h5>
                              <h5 class="mb-1">Request Category Option: <span class="preview-text">
                                  {{item?.request_category_option || 'N/A'}}</span>
                              </h5>
                              <h5 class="mb-1"> Repair schedule: <span class="preview-text">
                                  {{getDateRepairSchedule(item.repair_schedule.date,
                                  item.repair_schedule.start_time)}}</span>
                              </h5>
                            </div>
                            <div *ngIf="item?.type == 'Contractor Request'">
                              <h5 class="mb-1">Requested Date: <span class="preview-text">
                                  {{item?.requested_date || 'N/A' | date}}</span>
                              </h5>
                              <h5 class="mb-1">Tenant Name: <span class="preview-text">
                                  {{item?.tenant_name || 'N/A'}}</span> </h5>
                              <h5 class="mb-1">Project Address : <span class="preview-text">
                                  {{item?.project_address || 'N/A'}}</span> </h5>
                              <h5 class="mb-1">Job Description : <span class="preview-text">
                                  {{item?.job_description_name || 'N/A'}}</span> </h5>
                            </div>
                            <div *ngIf="item?.type == 'Third Party Request'">
                              <h5 class="mb-1">Requested Date: <span class="preview-text">
                                  {{item?.requested_date || 'N/A' | date}}</span>
                              </h5>
                              <h5 class="mb-1 text-red">Assigned To: <span class="text-red">
                                  {{ item?.repair_schedule?.assigned_to?.name || 'N/A' }}
                                </span>
                              </h5>
                              <h5 class="mb-1">Customer Name: <span class="preview-text">
                                  {{item?.customer_name || 'N/A'}}</span> </h5>
                              <h5 class="mb-1"> Date Added: <span class="preview-text">{{(item?.date_added | date)
                                  || 'N/A' }}</span></h5>
                              <h5 class="mb-1"> Date Completed: <span class="preview-text">{{(item?.date_completed |
                                  date) ||
                                  'N/A' }}</span></h5>
                              <h5 class="mb-1">Date Updated: <span class="preview-text">
                                  {{(item?.date_updated | date) || 'N/A' }}</span>
                              </h5>
                              <h5 class="mb-1">Description: <span class="preview-text">
                                  {{item?.description || 'N/A'}}</span> </h5>

                              <h5 class="mb-1">Project Address : <span class="preview-text">
                                  {{item?.project_address || 'N/A'}}</span> </h5>
                              <h5 class="mb-1">Job Description : <span class="preview-text">
                                  {{item?.job_description_name || 'N/A'}}</span> </h5>
                              <h5 class="mb-1"> Repair schedule: <span class="preview-text">
                                  {{getDateRepairSchedule(item.repair_schedule.date,
                                  item.repair_schedule.start_time)}}</span>
                              </h5>
                            </div>
                            <div *ngIf="item.type == 'Budget Verification'">
                              <h5 class="mb-1">Loan No: <span style="color: #2525e2;"></span>{{item?.loan_number ||
                                'N/A'}}</h5>
                              <h5 class="mb-1">Contact Name: <span style="color: #2525e2;">
                                  {{item?.budget_verification?.info?.contact_name || 'N/A'}}
                                </span></h5>
                              <h5 class="mb-1">Actual Inspection Time: <span style="color: #2525e2;">
                                  {{item?.budget_verification?.info?.preferred_time || 'N/A'}}</span></h5>
                              <h5 class="mb-1"> Order Date: <span
                                  style="color: #2525e2;">{{item?.budget_verification?.info?.order_date ?
                                  getDate(item?.budget_verification?.info?.order_date) : 'N/A'}}</span></h5>
                              <h5 class="mb-1"> Due Date: <span
                                  style="color: #2525e2;">{{item?.budget_verification?.info?.due_date ?
                                  getDate(item?.budget_verification?.info?.due_date) : 'N/A'}}</span></h5>
                              <h5 class="mb-1"> Inspection Date: <span
                                  style="color: #2525e2;">{{item?.budget_verification?.info?.inspection_date ?
                                  getDate(item?.budget_verification?.info?.inspection_date) : 'N/A'}}</span></h5>
                              <h5 *ngIf="item?.budget_verification?.info?.inspection_start_time" class="mb-1">Inspection
                                Time: <span style="color: #2525e2;">
                                  {{getInspectionTime(item.budget_verification.info.inspection_start_time)}} -
                                  {{getInspectionTime(item.budget_verification.info.inspection_end_time)}}</span>
                              </h5>
                              <h5 class="mb-1">Requirement: <span
                                  style="color: #2525e2;">{{item?.budget_verification?.info?.requirement ||
                                  'N/A'}}</span></h5>
                              <h5 class="mb-1">Status: <span
                                  style="color: #2525e2;">{{item?.budget_verification?.info?.status || 'N/A'}}</span>
                              </h5>
                            </div>
                            <div *ngIf="item.type == 'Draws'">
                              <h5 class="mb-1">Title: <span style="color: #2525e2;">{{item?.draw?.title ||
                                  'N/A'}}</span></h5>
                              <h5 class="mb-1">Inspector Name: <span
                                  style="color: #2525e2;">{{item?.draw?.inspection?.vendor_name || 'N/A'}}</span></h5>
                              <h5 class="mb-1">Draw Request Date: <span style="color: #2525e2;">{{item?.draw?.date ?
                                  getDate(item?.draw?.date) : 'N/A'}}</span></h5>
                              <h5 class="mb-1">Inspection Date: <span
                                  style="color: #2525e2;">{{item?.draw?.inspection?.inspection_date ?
                                  getDate(item?.draw?.inspection?.inspection_date) : 'N/A'}}</span></h5>
                              <h5 class="mb-1">Inspection Time: <span
                                  style="color: #2525e2;">{{item?.draw?.inspection?.inspection_time || 'N/A'}}</span>
                              </h5>
                              <h5 *ngIf="item?.draw?.inspection?.inspection_start_time" class="mb-1">
                                Inspection
                                Time: <span style="color: #2525e2;">
                                  {{getInspectionTime(item.draw?.inspection?.inspection_start_time)}} -
                                  {{getInspectionTime(item.draw?.inspection?.inspection_end_time)}}</span>
                              </h5>
                              <h5 class="mb-1">Funding Date: <span style="color: #2525e2;">{{item?.draw?.approved_date ?
                                  getDate(item?.draw?.approved_date) : 'N/A'}}</span></h5>
                              <h5 class="mb-1">Inspection Status: <span
                                  style="color: #2525e2;">{{item?.draw?.inspection?.status || 'N/A'}}</span></h5>
                              <h5 class="mb-1">Entity Name: <span
                                  style="color: #2525e2;">{{item.loan_terms?.loan_info?.borrower_entity ||
                                  "N/A"}}</span></h5>
                              <h5 class="mb-1">Repair Budget: <span
                                  style="color: #2525e2;">{{item?.draw?.total_ql_budget || 0 | currency}}</span></h5>
                              <h5 class="mb-1">Requested Amount: <span style="color: #2525e2;">
                                  {{item?.draw?.total_budget || 0 | currency}}</span></h5>
                              <h5 class="mb-1">Status: <span style="color: #2525e2;"> {{item?.draw?.status || 'N/A'}}
                                </span></h5>
                            </div>
                            <div *ngIf="item.type == 'Inspection'">
                              <h5 class="mb-1">Title: <span style="color: #2525e2;">Inspection</span></h5>
                              <h5 class="mb-1">Loan Number: <span
                                style="color: #2525e2;">{{item.loan_number ||
                                "N/A"}}</span></h5>
                              <h5 class="mb-1">Inspector Name: <span
                                  style="color: #2525e2;">{{item?.inspections?.inspector_name || 'N/A'}}</span></h5>
                              <h5 class="mb-1">Inspection Date: <span
                                  style="color: #2525e2;">{{item?.inspections?.inspection_date ?
                                  getDate(item?.inspections?.inspection_date) : 'N/A'}}</span></h5>
                              <h5 *ngIf="item?.inspections?.inspection_start_time" class="mb-1">
                                Inspection
                                Time: <span style="color: #2525e2;">
                                  {{getInspectionTime(item.inspections?.inspection_start_time)}} -
                                  {{getInspectionTime(item.inspections?.inspection_end_time)}}</span>
                              </h5>
                              <h5 class="mb-1">Entity Name: <span
                                  style="color: #2525e2;">{{item.loan_terms?.loan_info?.borrower_entity ||
                                  "N/A"}}</span></h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #inspectionTimeChangeAlert let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="p-0 modal-body">
      <div class="mb-0 border-0 shadow card bg-secondary">
        <div class="card-body px-lg-4 py-lg-4">
          <div class="my-3 text-center text-danger">
            <i class="fas fa-exclamation-circle fa-4x"></i>
          </div>
          <div class="mb-2 text-center text-dark">
            <h1>Are you sure</h1>
          </div>
          <div class="mb-3 text-center text-dark">
            <p>Do you really want to update inspection time?</p>
          </div>
          <div class="text-center">
            <button type="button" (click)="d('Cross click')" class="my-3 btn btn-warning">Cancel</button>
            <button type="submit" (click)="c('Cross click')" class="my-3 btn btn-success">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>