#homePage {
  .tabs {
    border: 1px solid #dddddd;
    background: #f8f8f8;
    border-radius: 7px;
    padding: 6px 15px;
    text-transform: capitalize;
    transition: 0.1s background ease-in-out;
  }

  .active-tab {
    background: #213e7a;
    color: #fff;
  }
}
