<div id="homePage">
    <!-- welcome user -->
    <div class="row mb-4">
        <div class="col-auto">
            <div class="avatar avatar-50 shadow rounded-10">
                <img src="assets/img/user1.jpg" alt="">
            </div>
        </div>
        <div class="col align-self-center ps-0">
            <h4 class="text-color-theme"><span class="fw-normal">Hi</span>, Maxartkiller</h4>
            <p class="text-muted">Good Morning</p>
        </div>
    </div>

    <!-- money request received -->
    <div class="row mb-4 hideonprogress">
        <div class="w-100 d-flex gap-2 overflow-auto">
            <button class="tabs " (click)="changeActiveTab('All')"
                [ngClass]="{ 'active-tab': activeTab === 'All' }">All</button>
            <button class="tabs " (click)="changeActiveTab('Breakdown')"
                [ngClass]="{ 'active-tab': activeTab === 'Breakdown' }">Breakdown</button>
            <button class="tabs " (click)="changeActiveTab('Calendar')"
                [ngClass]="{ 'active-tab': activeTab === 'Calendar' }">Calendar</button>
            <button class="tabs " (click)="changeActiveTab('Inspection')"
                [ngClass]="{ 'active-tab': activeTab === 'Inspection' }">Inspection</button>
            <button class="tabs " (click)="changeActiveTab('Schedules')"
                [ngClass]="{ 'active-tab': activeTab === 'Schedules' }">Schedules</button>
            <button class="tabs " (click)="changeActiveTab('Draws')"
                [ngClass]="{ 'active-tab': activeTab === 'Draws' }">Draws</button>
            <button class="tabs " (click)="changeActiveTab('Insurance')"
                [ngClass]="{ 'active-tab': activeTab === 'Insurance' }">Insurance</button>
            <button class="tabs " (click)="changeActiveTab('map')"
                [ngClass]="{ 'active-tab': activeTab === 'map' }">Map</button>
        </div>

    </div>

    <!-- swiper credit cards -->
    <!-- <div class="row mb-3">
        <div class="col-12 px-0">
            <swiper class="cardswiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide>
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-auto align-self-center">
                                <img src="assets/img/masterocard.png" alt="">
                            </div>
                            <div class="col align-self-center text-end">
                                <p class="small">
                                    <span class="text-uppercase size-10">Validity</span><br>
                                    <span class="text-muted">09/24</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="fw-normal mb-2">
                                    150540.00
                                    <span class="small text-muted">USD</span>
                                </h4>
                                <p class="mb-0 text-muted size-12">10141 0021 0001 0154</p>
                                <p class="text-muted size-12">Debit Card</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card dark-bg">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-auto align-self-center">
                                <img src="assets/img/masterocard.png" alt="">
                            </div>
                            <div class="col align-self-center text-end">
                                <p class="small">
                                    <span class="text-uppercase size-10">Validity</span><br>
                                    <span class="text-muted">06/25</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="fw-normal mb-2">
                                    56040.00
                                    <span class="small text-muted">USD</span>
                                </h4>
                                <p class="mb-0 text-muted size-12">10141 0021 0001 0154</p>
                                <p class="text-muted size-12">Debit Card</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card theme-radial-gradient border-0">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-auto align-self-center">
                                <i class="bi bi-wallet2"></i> Wallet
                            </div>
                            <div class="col align-self-center text-end">
                                <p class="small">
                                    <span class="text-uppercase size-10">Validity</span><br>
                                    <span class="text-muted">Unlimited</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="fw-normal mb-2">
                                    100.00
                                    <span class="small text-muted">USD</span>
                                </h4>
                                <p class="mb-0 text-muted size-12">10141 0021 0001 0154</p>
                                <p class="text-muted size-12">Debit Card</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
        </div>
    </div> -->

    <!-- connection -->
    <!-- <div class="row mb-3">
        <div class="col">
            <h6 class="title">Connections</h6>
        </div>
        <div class="col-auto">
            <a routerLink="/userlist" class="small">View all</a>
        </div>
    </div> -->
    <!-- <div class="row mb-3">
        <div class="col-12 px-0">
            <swiper class="connectionwiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body">
                        <figure class="avatar avatar-50 shadow-sm mb-1 rounded-10">
                            <img src="assets/img/user4.jpg" alt="">
                        </figure>
                        <p class="text-color-theme size-12 small">Nicolas</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body">
                        <figure class="avatar avatar-50 shadow-sm mb-1 rounded-10">
                            <img src="assets/img/user2.jpg" alt="">
                        </figure>
                        <p class="text-color-theme size-12 small">Shelvey</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body">
                        <figure class="avatar avatar-50 shadow-sm mb-1 rounded-10">
                            <img src="assets/img/user3.jpg" alt="">
                        </figure>
                        <p class="text-color-theme size-12 small">Amenda</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body">
                        <figure class="avatar avatar-50 shadow-sm mb-1 rounded-10">
                            <img src="assets/img/user1.jpg" alt="">
                        </figure>
                        <p class="text-color-theme size-12 small">RXL15</p>
                    </div>
                </a>
            </ng-template>
        </swiper>
        </div>
    </div> -->

    <!-- offers banner -->
    <!-- <div class="row mb-4">
        <div class="col-12">
            <div class="card theme-bg text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col align-self-center">
                            <h1>15% OFF</h1>
                            <p class="size-12 text-muted">
                                On every bill pay, launch offer get 5% Extra
                            </p>
                            <div class="tag border-dashed border-opac">
                                BILLPAY15OFF
                            </div>
                        </div>
                        <div class="col-6 align-self-center ps-0">
                            <img src="assets/img/offergraphics.png" alt="" class="mw-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Saving targets -->
    <!-- <div class="row mb-3">
        <div class="col">
            <h6 class="title">Saving Targets</h6>
        </div>
        <div class="col-auto">

        </div>
    </div> -->

    <!-- Transactions -->
    <!-- <div class="row mb-3">
        <div class="col">
            <h6 class="title">Transactions<br><small class="fw-normal text-muted">Today, 24 Aug 2021</small>
            </h6>
        </div>
        <div class="col-auto align-self-center">
            <a routerLink="/transactions" class="small">View all</a>
        </div>
    </div> -->
    <!-- <div class="row mb-4">
        <div class="col-12 px-0">
            <ul class="list-group list-group-flush bg-none">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <div class="avatar avatar-50 shadow rounded-10 ">
                                <img src="assets/img/company4.jpg" alt="">
                            </div>
                        </div>
                        <div class="col align-self-center ps-0">
                            <p class="text-color-theme mb-0">Zomato</p>
                            <p class="text-muted size-12">Food</p>
                        </div>
                        <div class="col align-self-center text-end">
                            <p class="mb-0">-25.00</p>
                            <p class="text-muted size-12">Debit Card 4545</p>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <div class="avatar avatar-50 shadow rounded-10">
                                <img src="assets/img/company5.png" alt="">
                            </div>
                        </div>
                        <div class="col align-self-center ps-0">
                            <p class="text-color-theme mb-0">Uber</p>
                            <p class="text-muted size-12">Travel</p>
                        </div>
                        <div class="col align-self-center text-end">
                            <p class="mb-0">-26.00</p>
                            <p class="text-muted size-12">Debit Card 4545</p>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <div class="avatar avatar-50 shadow rounded-10">
                                <img src="assets/img/company1.png" alt="">
                            </div>
                        </div>
                        <div class="col align-self-center ps-0">
                            <p class="text-color-theme mb-0">Starbucks</p>
                            <p class="text-muted size-12">Food</p>
                        </div>
                        <div class="col align-self-center text-end">
                            <p class="mb-0">-18.00</p>
                            <p class="text-muted size-12">Cash</p>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <div class="avatar avatar-50 shadow rounded-10">
                                <img src="assets/img/company3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col align-self-center ps-0">
                            <p class="text-color-theme mb-0">Walmart</p>
                            <p class="text-muted size-12">Clothing</p>
                        </div>
                        <div class="col align-self-center text-end">
                            <p class="mb-0">-105.00</p>
                            <p class="text-muted size-12">Wallet</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> -->

    <!-- Blogs -->

    <app-liquidity></app-liquidity>
</div>