<div id="homePage">
    <!-- welcome user -->
    <div class="row mb-4">
        <div class="col-auto">
            <div class="avatar avatar-50 shadow rounded-10">
                <img src="assets/img/user1.jpg" alt="">
            </div>
        </div>
        <div class="col align-self-center ps-0">
            <h4 class="text-color-theme"><span class="fw-normal">Hi</span>, Maxartkiller</h4>
            <p class="text-muted">Good Morning</p>
        </div>
    </div>

    <!-- money request received -->
    <div class="position-relative">
        <i class="bi bi-chevron-left left-icon " (click)="scrollLeft()"></i>
        <div class="row mb-4 hideonprogress px-3 ">
            <div class="d-flex gap-2 overflow-auto" id="mainContainer">
                <button class="tabs " (click)="changeActiveTab('All',$event)" 
                    [ngClass]="{ 'active-tab': activeTab === 'All' }">All</button>
                <button class="tabs " (click)="changeActiveTab('Breakdown',$event)" 
                    [ngClass]="{ 'active-tab': activeTab === 'Breakdown' }">Breakdown</button>
                <button class="tabs " (click)="changeActiveTab('Calendar',$event)" 
                    [ngClass]="{ 'active-tab': activeTab === 'Calendar' }">Calendar</button>
                <button class="tabs " (click)="changeActiveTab('Inspection',$event)"
                    [ngClass]="{ 'active-tab': activeTab === 'Inspection' }">Inspection</button>
                <button class="tabs " (click)="changeActiveTab('Schedules',$event)" 
                    [ngClass]="{ 'active-tab': activeTab === 'Schedules' }">Schedules</button>
                <button class="tabs " (click)="changeActiveTab('Draws',$event)" 
                    [ngClass]="{ 'active-tab': activeTab === 'Draws' }">Draws</button>
                <button class="tabs " (click)="changeActiveTab('Insurance',$event)" 
                    [ngClass]="{ 'active-tab': activeTab === 'Insurance' }">Insurance</button>
                <button class="tabs " (click)="changeActiveTab('map',$event)" 
                    [ngClass]="{ 'active-tab': activeTab === 'map' }">Map</button>
            </div>
        </div>
        <i class="bi bi-chevron-right right-icon" (click)="scrollRight()"></i>
    </div>
    <app-liquidity *ngIf="activeTab === 'All'"></app-liquidity>
    <app-breakdown *ngIf="activeTab === 'Breakdown'" [white_label_stats]="[]"></app-breakdown>
    <app-dashboard-calendar *ngIf="activeTab === 'Calendar'"></app-dashboard-calendar>
</div>